body {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-family: Verdana;
}

header {
  font-weight: bold;
  margin-bottom: 20px;
}

.headerlogo {
  float: left;
  margin-right: 10px;
}

  .headerlogo > img {
    height: 60px;
    width: 60px;
  }

.searchbox {
  float: right;
  padding: 5px;
  margin: 10px 10px;
  width: 200px;
}

#headername {
  font-size: 40px;
  color: #603813;
  padding: 15px;
  margin: 8px 0px;
  font-weight: bold;
}

#mainHeader {
    height: 80px;
}

nav {
  height: 45px;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 20px;
  padding-left: 5px;
}

  nav ul {
    list-style: none;
    padding: 0px;
  }

    nav ul li {
      display: block;
    }

.navlink {
  height: 35px;
  margin-right: 10px;
  font-size: 18px;
  float: left;
  padding-top: 12px;
  color: white;
  text-decoration: none;
}

  .navlink.active {
  }

.backgroundgradient {
  background-color:#603813;
}

#welcomeimage {
  float: left;
  width: 700px;
}

  #welcomeimage > img {
    width: 700px;
  }

#coffeeofthemonth {
  float: right;
  width: 300px;
}

#coffeeofthemonth > img{
  width: 300px;
}

#welcometext {
  float: left;
  width: 70%;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}

  #welcometext > header {
    color: #603813;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 3px;
  }

#events {
  float: right;
  width: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
}

  #events > header {
    margin-left: 10px;
    color: #603813;
    font-size: 15px;
    margin-bottom: 3px;
    font-weight: bold;
  }

  #events > ul {
    list-style: none;
  }

  #events > ul > li {
    margin-bottom: 3px;
  }

#bestsellers {
  height: 100%;
  width: 700px;
  float: left;
  margin-bottom: 20px;
}

footer {
  clear: both;
  width: 100%;
  background-color: #5c5045;
  margin: 20px 0px 20px;
  padding: 5px;
}

.smalltext {
  font-size: 10px;
}
